@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@500&display=swap');

html,
body {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: rgba(128, 128, 128, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-width: 547px;
  width: 40%;
  min-height: 400px;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px rgb(46, 45, 45);
  border-radius: 3px;
}

.header {
  width: 100%;
  border-bottom: 1px solid #a5a5a5;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.containerHeader {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
  align-self: center;
}

.refreshButton {
  width: 15px;
  height: 15px;
  margin-right: 20px;
  align-self: center;
  cursor: pointer;

  /* transform: rotate(0deg);
  transition-property: transform;
  transition-duration: 400ms;
  transition-delay: 0ms; */
}

/* .refreshButton:active {
  transform: rotate(-180deg);
  margin-right: 20px;
} */

.rotate {
  animation: rotate 400ms linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

.rotateBack {
  animation: rotateBack 400ms linear;
}

@keyframes rotateBack {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.inputSection {
  height: auto;
  width: 100%;
  border-bottom: 1px solid #a5a5a5;
  display: flex;
  justify-content: space-between;
}

#inputField {
  width: 80%;
  height: 50px;
  border: 0;

  /* background-color: rgb(253, 253, 216); */
  padding-left: 10px;
}

input::placeholder {
  font-style: italic;
  font-size: 1rem;
}

input:focus {
  outline: none;
}

.arrow {
  cursor: pointer;
  opacity: 60%;
  margin-right: 20px;
}

.taskSection {
  width: 100%;
  min-height: 246px;
}

.tasklist {
  list-style-type: none;
  padding: 0;
}

.listInstance {
  min-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin-left: 10px;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: 'Instrument Sans', sans-serif;
}

.checkbox {
  width: fit-content;
}

.descriptionText {
  width: 80%;
}

img[class^="threedots-"] {
  width: fit-content;
  padding-right: 25px;
  cursor: pointer;
}

.trash {
  display: none;
  float: right;
  cursor: pointer;
}

.clearAll {
  border: 0;
  width: 100%;
  height: 50px;
  font-size: 1rem;
  color: #767676;
  background-color: #c5c5c5;
  cursor: pointer;
}
